# General info

Description of what data we have

In [3]:
import pandas as pd
from local.helpers import get_connection

conn = get_connection()
conn_gray = get_connection('thesis_gray')

### thesis_clean database
Database with binary encoding + old experiments

In [12]:
pd.read_sql('''
    SELECT f_alias
    , COUNT(result_pmax) AS exp_num
    , string_agg(DISTINCT series_code, ', ' ORDER BY series_code) AS series
    , string_agg(DISTINCT sel_type, ', ' ORDER BY sel_type) AS sel_types
    FROM full_param_set
    GROUP BY 1
    ORDER BY 1
''', conn)

,f_alias,exp_num,series,sel_types
0,almost_spherical,304,sep_do,"rws, sus, tournament_12, tournament_2, tournam..."
1,inverted_hamming_distance,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
2,positive_ackleys,567,sep_do,"rws, sus, tournament_12, tournament_2, tournam..."
3,shifted_rastrigins,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
4,sigma_10,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
5,sigma_100,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
6,spherical,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
7,square_root,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
8,x_6,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."

### thesis_gray database
Database with gray encoding

In [4]:
#
pd.read_sql('''
    SELECT f_alias
    , COUNT(result_pmax) AS exp_num
    , string_agg(DISTINCT series_code, ', ' ORDER BY series_code) AS series
    , string_agg(DISTINCT sel_type, ', ' ORDER BY sel_type) AS sel_types
    FROM full_param_set
    GROUP BY 1
    ORDER BY 1
''', conn_gray)

,f_alias,exp_num,series,sel_types
0,shifted_rastrigins,1454,"dec_gray, nov_main_1_1","ranking, sus, tournament_10, tournament_12, to..."
1,sigma_50,1050,dec_add,"ranking, sus, tournament_10, tournament_12, to..."
2,spherical,1139,"dec_gray, nov_main_1_1","ranking, sus, tournament_10, tournament_12, to..."
3,spherical_3term,1050,dec_add,"ranking, sus, tournament_10, tournament_12, to..."
4,square_root,1115,"dec_gray, nov_main_1_1","ranking, sus, tournament_10, tournament_12, to..."
5,x_10,1050,dec_add,"ranking, sus, tournament_10, tournament_12, to..."
6,x_6,341,nov_main_1_1,"ranking, sus, tournament_10, tournament_2, tou..."

### L, N, sel_type

In [5]:
# Possible N values:
ns = [26, 34, 44, 58, 76, 100, 130, 170, 200, 220, 286, 372, 400, 484, 630, 818, 1064]

# Possible L values:
ls = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 200, 300]

# Possible types of selection:
sels = ['ranking', 'sus', 'tournament_2', 'tournament_4', 'tournament_10', 'tournament_12', 'tournament_20']