# General info

Description of what data we have

In [1]:
import pandas as pd
from local.helpers import get_connection

conn = get_connection()
conn_gray = get_connection('thesis_gray')

### thesis_clean database
Database with binary encoding + old experiments

In [2]:
pd.read_sql('''
    SELECT f_alias
    , COUNT(result_pmax) AS exp_num
    , string_agg(DISTINCT series_code, ', ' ORDER BY series_code) AS series
    , string_agg(DISTINCT sel_type, ', ' ORDER BY sel_type) AS sel_types
    FROM full_param_set
    GROUP BY 1
    ORDER BY 3,1
''', conn)

,f_alias,exp_num,series,sel_types
0,shifted_rastrigins,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
1,spherical,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
2,square_root,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
3,x_6,750,nov_main_1,"ranking, sus, tournament_10, tournament_2, tou..."
4,inverted_hamming_distance,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
5,sigma_10,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
6,sigma_100,750,nov_main_2,"ranking, sus, tournament_10, tournament_2, tou..."
7,almost_spherical,304,sep_do,"rws, sus, tournament_12, tournament_2, tournam..."
8,positive_ackleys,567,sep_do,"rws, sus, tournament_12, tournament_2, tournam..."

### thesis_gray database
Database with gray encoding

In [3]:
#
pd.read_sql('''
    SELECT series_code AS series
    , f_alias
    , COUNT(result_pmax) AS exp_num
    , string_agg(DISTINCT sel_type, ', ' ORDER BY sel_type) AS sel_types
    FROM full_param_set
    GROUP BY 1, 2
    ORDER BY 1, 2
''', conn_gray)

,series,f_alias,exp_num,sel_types
0,dec_add,sigma_50,1050,"ranking, sus, tournament_10, tournament_12, to..."
1,dec_add,spherical_3term,1050,"ranking, sus, tournament_10, tournament_12, to..."
2,dec_add,x_10,1050,"ranking, sus, tournament_10, tournament_12, to..."
3,dec_gray,shifted_rastrigins,1049,"ranking, sus, tournament_10, tournament_12, to..."
4,dec_gray,spherical,1050,"ranking, sus, tournament_10, tournament_12, to..."
5,dec_gray,square_root,1050,"ranking, sus, tournament_10, tournament_12, to..."
6,nov_main_1_1,shifted_rastrigins,405,"ranking, sus, tournament_10, tournament_2, tou..."
7,nov_main_1_1,spherical,89,"ranking, sus, tournament_10, tournament_2, tou..."
8,nov_main_1_1,square_root,65,"ranking, sus, tournament_10, tournament_2, tou..."
9,nov_main_1_1,x_6,341,"ranking, sus, tournament_10, tournament_2, tou..."

### L, N, sel_type

In [5]:
# Possible N values:
ns = [26, 34, 44, 58, 76, 100, 130, 170, 200, 220, 286, 372, 400, 484, 630, 818, 1064]

# Possible L values:
ls = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 200, 300]

# Possible types of selection:
sels = ['ranking', 'sus', 'tournament_2', 'tournament_4', 'tournament_10', 'tournament_12', 'tournament_20']